{% extends "base.html" %}
{% block content %}
<form>
	<input type="text" name="fullname" value="Your Name">
	<br>
	<input type="email" name="emailaddress" value="Your e-mail">
	<br>
	<input type="date" name="birthdate">
	<br>
	<input type="password" name="password" value="password">
	<br>
	<input type="password" name="confirm_password" value="password">
	<br>
	<input type="checkbox" name="agreement">By checking this box, you agree to our Terms and Conditions and Privacy Policy. <br>
	<input type="submit" value="Submit">
</form> 
{% endblock %}
