@import url("https://fonts.googleapis.com/css?family=Merriweather Sans");

* {
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

h1, h2, h3, h4, p, button {
    font-family: "Merriweather Sans", sans-serif;
    color: #47525E;
}



h3 {
    flex-grow: 1;
    margin: 0 20px;
}

header, button.head {
    height: 65px;
    background-color: #FFE500;
}

header {
    display: flex;    
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: fixed;
    top: 0px;
}

button.main {
    background-color: #FFE500;
    border-radius: 10px;
    padding: 10px 20px;
}

button.head {
    flex-grow: 0;
    width: 100px;
}

section {
    flex-direction: column;
    background-color: white;
    border-radius: 18px;
    margin: 10px;
    padding: 20px;
}

div.bg {
    background-color: #FEFFB2;
    min-height: 100vh;
    width: 100%;
    padding: 10px;
    padding-top: 75px;
}

.flex-vertical, .flex-horizontal {
    display: flex;
}

.flex-horizontal {
    flex-direction: row;
}

.flex-vertical {
    flex-direction: column;
}

div.img-holder {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

img.vertical {
    width: 100%;
    height: auto;
}

img.horizontal {
    width: auto;
    height: 100%;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}