<!--!DOCTYPE html>
<html-->
{% extends "base.html" %}
{% block content %}
<head>
    <title>Example Site</title>
    <link rel="stylesheet" type="text/css" href="default.css">
</head>
<body>
    <header>
        <h3>HEADER EXAMPLE</h3>
        <button class="head">Header Button Example</button>
        <button class="head">Header Button Example 2</button>
    <div class="bg flex-vertical">
        <!--h1>This is the h1 example.</h1>
        <h2>This is the h2 example.</h2-->
        <h2 style="text-align: center;
                font-size: 50px;
                font-style: bold;">Do Something Good Today!</h2>
        <h2 style="text-align: center;
        font-size: 39px;
        font-style: italic;">Our Donators</h2>
        <!--div class="flex-horizontal">
            <section>
                <div class="img-holder">
                    <img class="vertical" src="placeholder.png">
                </div>
                <h4>Headline Example</h4>
                <p>Lorem ipsum dolor sit amet et delectus accommodare his
                consul copiosae legendos at vix ad putent delectus delicata usu.
                Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an.
                Per facer affert ut. Mei iisque mentitum moderatius...
                </p>
                <button class="main">Read More</button>
            </section>
            <section>
                <div class="img-holder">
                    <img class="horizontal" src="placeholder.png">
                </div>
                <h4>Headline Example 2</h4>
                <p>Lorem ipsum dolor sit amet et delectus accommodare his
                consul copiosae legendos at vix ad putent delectus delicata usu.
                Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an.
                Per facer affert ut. Mei iisque mentitum moderatius...
                </p>
                <button class="main">Read More</button>
            </section>
        </div-->
        <!--div class="card" style="overflow: hidden; float: left;">
          <img src="http://www.gamasutra.com/db_area/images/news/2017/Feb/291225/gabe_newell_thumb.jpg" alt="Avatar" style="width:20%">
          <div class="container">
            <h4><b>John Doe</b></h4> 
            <p>Architect & Engineer</p> 
          </div>
          <div class="card" style="margin-left: 400px;">
          <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201709/bapu1-647_092817051129.jpg" alt="Avatar" style="width:20%">
          <div class="container">
            <h4><b>John Doe</b></h4> 
            <p>Philanthropist</p> 
          </div>
        </div-->
        <div class="card" style="overflow: hidden;">
            <div  style=" float: left;">
              <img src="http://www.gamasutra.com/db_area/images/news/2017/Feb/291225/gabe_newell_thumb.jpg" alt="Avatar" style="width:20%;">
              <div class="container">
                <h4><b>John Doe</b></h4> 
                <p>Architect & Engineer</p></div></div>
            <div style="margin-left: 300px;">
              <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201709/bapu1-647_092817051129.jpg" alt="Avatar" style="width:20%; margin-left: 400px;">
              <div class="container">
                <h4><b>John Doe</b></h4> 
                <p>Philanthropist</p></div></div>
        </div>
    </div>
    </div>
</body>
{% end block %}
<!--/html-->