{% extends "base.html" %}
{% block content %}
<!--h3 style="text-align: center">Hi all, This is my complete biodata</h3>
<table align="center" style="text-align: center">
    {% for bio in bio_dict %}
        <tr>
            <td class="subject">{{ bio.subject }}</td>
            <td class="value">{{ bio.value }}</td>
        </tr>
    {% endfor %}
</table>
<br><br>
{% endblock %}
-->
<head>
  <title>About Me.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="css01/haistyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
/* Create two columns/boxes that floats next to each other */

/* Style the header */
.btn {
  background-color: transparent;
  color: black;
  padding: 14px 28px;
  font-size: 50px;
  cursor: pointer;
}

/* Grey */
.home {
  border-color: transparent;
  color: grey
}

.home:hover {
  background: transparent;
  color: maroon;
}

.g {
  position: absolute;
  top: 58px;
  left: 750px;
  width: 380px;
  height: 506px;
  z-index: -1;
  }

/*.h {
  position: absolute;
  top: 55%;
  left: 850px;
  width: 235.3px;
  height: 156.85px;
  z-index:-1;
  }
*/
img.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 200px;

  /* Clear floats after the columns */
section:after {
      content: "";
      display: table;
      clear: both;
  }

  /* Style the footer */
  footer {
      background-color: transparent;
      text-align: center;
      color: white;
  }

  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
      nav, article {
          width: 100%;
          height: auto;
      }
  }

  </style>
</head>  

<body>

 <div class="container" style="margin-top:20px;margin-left: 0px">
  <div class="row">
    <div class="col-sm-4">
      <h2 style="font-family: Abril Fatface, serif; font-size: 90px; color: grey">Agaetis Byrjun</h2>
      <img src='file:///D:/Projects/base/6203490ba8aa14db55e80973ef7609d2e195bc37.jpg' class='g'>
      <!--img src="file:///D:/Projects/base/bzh-wst9doe-ilnur-kalimullin.jpg" class="h"-->
      <p>Some text about me in culpa qui officia deserunt mollit anim..
      Some text about me in culpa qui officia deserunt mollit anim..
      Some text about me in culpa qui officia deserunt mollit anim..
      Some text about me in culpa qui officia deserunt mollit anim..
      Some text about me in culpa qui officia deserunt mollit anim..
      Some text about me in culpa qui officia deserunt mollit anim..
      Some text about me in culpa qui officia deserunt mollit anim..</p>
      <p>Lorem ipsum dolor sit ame.</p>
    </div>
  </div>
</div>
<div id="button">
    <h3 style="font-family: Abril Fatface, serif; font-size: 50px; color: grey">
    <button href="face" class="btn home">Take Me Home.</button>
    </h3>
</div>

</body>
{% endblock %}