{% extends "base.html" %}
{% block content %}
{% load static %}
<!--style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
</style>
<div class="center_screen">
    <p class="status" id="test">Hello, this is {{ name }}. {{ content }}.</p>
</div-->
 <link rel="stylesheet" href="css/haistyle.css">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

  </style>
<div id="face">
   <h2 style="position: absolute;
      top: 70px;
      left: 340px;">Maulana</h2>

   <h2 style="position: absolute;
      top: 180px;
      left: 340px;">Haidar.</h2>

   <h2 style="position: absolute;
      top: 350px;
      left: 698px">Graphic</h2>

   <h2 style="position: absolute;
      top: 450px;
      left: 698px">Designer</h2>
   <!--width:4264px height:2493px-->
   <img src="file:///C:/Users/mlnhaidar/Desktop/ppwproj/myresume/packs-website/Insya%20Allah%20back%20buat%20web%20ppw.jpg" alt="Landing" class="e"> 
</div> 
{% endblock %}