<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <h1>Hello my name is Hamri Hamdika </h1>
    <article>NPM : 1406601574 </article>
    <article>I am 22 years old </article>
    <h1>Hello my name is Alif Karnadi Y. </h1>
    <article>NPM : 1406568721 </article>
    <article>I am 21 years old </article>
</body>
</html>
