{% extends "base.html" %}

{% block title %}My amazing blog{% endblock %}


<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Haidar's Portfolio.</title>
  <!--css haistyle.css-->
  <link rel="stylesheet" href="css01/haistyle.css">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

  </style>
</head>  

<body>

<section id="face">
  <div id="features">
    <h1 class="a">About Me.</h1>
    <h1 class="b">Selected Projects.</h1>
    <h1 class="c">My Resume.</h1>
    <h1 class="d">Contact Me.</h1>
  </div>

{% block content %}
  <div id="face">
   <h2 style="position: absolute;
      top: 70px;
      left: 340px;">Maulana</h2>

   <h2 style="position: absolute;
      top: 180px;
      left: 340px;">Haidar.</h2>

   <h2 style="position: absolute;
      top: 350px;
      left: 698px">Graphic</h2>

   <h2 style="position: absolute;
      top: 450px;
      left: 698px">Designer</h2>
   <!--width:4264px height:2493px-->
   <img src="file:///D:/Projects/the%20well%20done%20one/Insya%20Allah%20back%20buat%20web%20ppw.jpg" alt="Landing" class="e"> 
  </div> 
{% endblock %}
</section>


</body>
</html>

