{% load static %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap Core CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Custom CSS and font here-->
        <link href="static/css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600i,800,900" rel="stylesheet" type="text/css">

    </head>

    <!--         NAVIGATION BAR SECTION               -->
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <a class="nav-textxx" href="/index/#intro">INTRO</a> <br/>
                <a class="nav-textxx" href="/index/#portfolio">PORTFOLIO</a> <br/>
                <a class="nav-textxx" href="/index/#gallery">GALLERY</a> <br/>
                <a class="nav-textxx" href="/index/#contact-me">CONTACT ME</a> <br/>
                <a class="nav-textxx" href="/schedule/">SCHEDULE</a> <br/>
                <br/>
                <a class="nav-textxx" href="#">REGISTER!</a> <br/>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
    <body id="page-top" data-spy="scroll">


    {% block content %}
    {% include "FormDonasi.html" %}
    {% endblock %}


    <!-- Bootstrap Core JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Custom Script -->
    <script src="{% static 'js/interactive.min.js' %}"}></script>
    <script>
        $(function() {
            $( "#id_date" ).datepicker({
                minDate: 0,
                maxDate: "+24M",
                yearRange: "1900:2025",
                // You can put more options here.
            });
        });
    </script>
    </body>
</html>

<!--#########################OLD HTML BELOW#################-->
