/*==========================================
author: Maulana Haidar Ma'shuum
==========================================*/

html,

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

body {
    background-color: white;
}

img {
    width: 100%;
}

.a {
   position: absolute;
   top: -28px;
   left: 20px;
} 

.b {
  position: absolute;
  top: -28px;
  left: 320px;
}

.c {
  position: absolute;
  top: -28px;
  left: 748px;
  } 

.d {
  position: absolute;
  top: -28px;
  left: 1089px;
}

.e {
  position: absolute;
  top: 68px;
  left: 150px;
  width:1066px;
  height:623.25px;
  z-index:-1;
  }

/*navbar
  #section1 {padding-top:50px;height:500px;color: transparent; background-color: transparent;}
  #section2 {padding-top:50px;height:500px;color: transparent; background-color: transparent;}
  #section3 {padding-top:50px;height:500px;color: transparent; background-color: transparent;}
  #section41 {padding-top:50px;height:500px;color: transparent; background-color: transparent;}
  #section42 {padding-top:50px;height:500px;color: transparent; background-color: transparent;}

.btn {
  background-color: transparent;
  padding: 14px 28px;
  font-size: 50px;
  cursor: pointer;
}



.home {
  border-color: transparent;
  color: grey
}

.home:hover {
  background: transparent;
  color: maroon;
}*/

/*
.f {
  position: absolute;
  top: 68px;
  left: 850px;
  z-index:-1;
  }

.g {
  position: absolute;
  top: 58px;
  left: 750px;
  width: 100%
  height: 100%;
  z-index: -1
  }

.h {
  position: absolute;
  top: 75%;
  left: 950px;
  /*width: 100%
  height: 100%
  z-index:-1;
  }

img.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 200px;
}
   Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens 
  @media (max-width: 600px) {
      nav, article {
          width: 100%;
          height: auto;
      }

*/
h1 {
  color: grey; 
  text-align: center;
  font-family: 'Abril Fatface', serif;
  font-size: 41px;
  letter-spacing: 0px;
  font-kerning: normal;
  font-weight: normal;
}

h2 {
  color: #FFF779; 
  text-align: center;
  font-family: 'Abril Fatface',serif;
  font-size: 82px;
  letter-spacing: 1px;
  font-kerning: normal;
  font-weight: normal;
  text-shadow: 8px 8px #CD213C;
}