/*==========================================
author: Maulana Haidar Ma'shuum
==========================================*/

html,

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

body {
    background-color: white;
}

img {
    width: 100%;
}

.a {
   position: absolute;
   top: -28px;
   left: 20px;
} 

.b {
  position: absolute;
  top: -28px;
  left: 320px;
}

.c {
  position: absolute;
  top: -28px;
  left: 748px;
  } 

.d {
  position: absolute;
  top: -28px;
  left: 1089px;
}

.e {
  position: absolute;
  top: 68px;
  left: 150px;
  width:1066px;
  height:623.25px;
  z-index:-1;
  }

h1 {
  color: grey; 
  text-align: center;
  font-family: 'Abril Fatface', serif;
  font-size: 41px;
  letter-spacing: 0px;
  font-kerning: normal;
  font-weight: normal;
}

h2 {
  color: #FFF779; 
  text-align: center;
  font-family: 'Abril Fatface',serif;
  font-size: 82px;
  letter-spacing: 1px;
  font-kerning: normal;
  font-weight: normal;
  text-shadow: 8px 8px #CD213C;
}